<div class="blog-card slide-up-hidden">
  <div class="blog-card-image-wrapper">
    <a href="https://medium.com/" aria-label="Read more in cafesy's blog">
      <img src="img/<%= post_img %>.webp" alt="<%= alt %>"/>
    </a>
  </div>

  <div class="blog-card-data">
    <a href="https://medium.com/" aria-label="Read more in cafesy's blog">
      <div class="blog-card-title">
        <%= post_title %>
      </div>
    </a>
    <div class="blog-card-meta">By <%= post_author %> — Published on <%= post_date %></div>
  </div>
</div>
