<div class="user-info">
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-end">
        <div class="user-info-pic">
          <img
            class="user-info-pic"
            src="img/user-<%= user %>.webp"
            alt="Photo of the User"
          />
        </div>

        <div class="user-info-name">
          <h6><%= name %></h6>
          <p><%= title %></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 text-center text-lg-end">
      <img class="user-rating" src="img/rating-<%= rating %>.webp" alt="" />
    </div>
  </div>
</div>

<div class="review-wrapper">
  <p class="text-center"><%= review %></p>
</div>
