<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About | Cafésy - Connected. Organic. Alive.</title>

    <%- include('../views/partials/head'); %>
    <link rel="stylesheet" href="css/about.css" />
  </head>

  <body>
    <%- include('../views/partials/header'); %>
    <%- include('../views/partials/preloader'); %>

    <main>
      <section
        id="heading-section"
        class="d-flex align-items-center text-center"
      >
        <div class="container">
          <h1>About Us</h1>
          <p>Connected. Organic. Alive.</p>
        </div>
      </section>

      <section id="content-section">
        <div class="container">
          <div class="row align-items-center text-center">
            <div class="col">
              <h2>Where Coffee Dreams Come True!</h2>

              <p>
                Welcome to Cafesy, where we believe in the power of coffee to
                bring people together and create memorable moments. Our passion
                for exceptional coffee drives us to source the finest beans from
                around the world and craft unique blends that cater to the
                diverse palates of coffee enthusiasts.
              </p>
              <img
                src="https://images.pexels.com/photos/8659176/pexels-photo-8659176.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="A coffee cup that filled with fresh hot coffee and that placed on top of a book with a some kind of plant leafs"
              />

              <h2>Our Story</h2>
              <p>
                Our journey began with a simple love for the rich aroma and
                flavors of coffee. We recognized the magic that unfolds when a
                cup of carefully brewed coffee meets a person's senses. Inspired
                by this realization, we set out to create a coffee brand that
                would deliver unparalleled quality and taste.
              </p>

              <h2>Quality and Sourcing</h2>
              <p>
                We take pride in our commitment to sourcing the highest quality
                coffee beans. Our team of experts scours the globe to find farms
                and cooperatives that share our values of sustainability, fair
                trade, and ethical practices. By partnering directly with
                farmers, we ensure that every bean we use is grown with care and
                respect for the environment.
              </p>

              <h2>Craftsmanship and Roasting</h2>
              <p>
                The art of coffee roasting is at the heart of what we do. Our
                skilled roasters meticulously roast each batch of coffee,
                carefully adjusting time and temperature to bring out the
                distinct characteristics of every bean. This dedication to
                craftsmanship ensures that you experience the full depth of
                flavor in every cup.
              </p>

              <h2>Blends and Flavors</h2>
              <p>
                We understand that coffee preferences vary from person to
                person, which is why we offer a wide range of blends and flavors
                to suit every taste. Whether you prefer a bold and robust brew
                or a smooth and mellow cup, we have something for you. Our
                talented team of blenders works tirelessly to create unique and
                balanced blends that will delight your palate.
              </p>

              <h2>Sustainability</h2>
              <p>
                At Cafesy, we are committed to making a positive impact on the
                environment and the communities we serve. We strive to minimize
                our carbon footprint through sustainable practices at every
                stage of our production process. From using eco-friendly
                packaging materials to supporting initiatives that promote
                reforestation and biodiversity, we are dedicated to preserving
                the planet for future generations.
              </p>

              <h2>Community</h2>
              <p>
                We believe that coffee has the power to foster connections and
                build communities. We actively engage with coffee lovers through
                events, workshops, and online platforms, creating a space where
                people can share their love for coffee, exchange brewing
                techniques, and learn from one another. Join us in this coffee
                journey and become a part of the Cafesy community.
              </p>

              <h2>Our Commitment to You</h2>
              <p>
                At Cafesy, we are committed to providing you with an exceptional
                coffee experience. From the moment you take your first sip, we
                want you to savor the care and dedication that goes into each
                cup. If you have any questions, suggestions, or feedback, please
                don't hesitate to reach out to our friendly customer support
                team. Your satisfaction is our top priority. Thank you for
                choosing Cafesy as your go-to coffee brand.
              </p>

              <p>
                We look forward to being a part of your daily coffee ritual and
                helping you create moments that matter.
                <b>Cheers to great coffee! ☕🍃</b>
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%-include('../views/partials/newsletter-bar'); %>
    <%-include('../views/partials/footer'); %>
  </body>
</html>
