<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact | Cafésy - Connected. Organic. Alive.</title>

    <%- include('../views/partials/head'); %>
    <link rel="stylesheet" href="css/contact.css" />
  </head>

  <body>

    <%- include('../views/partials/preloader'); %>
    <%- include('../views/partials/header'); %>

    <main>
      <section
        id="heading-section"
        class="d-flex align-items-center text-center"
      >
        <div class="container">
          <h1>Contact</h1>
          <p>Get in Touch with Cafesy & We're Here to Assist You!</p>
        </div>
      </section>

      <section id="content-section">
        <div class="contact-form">
          <div class="container">
            <div class="row g-0">
              <div class="col col-lg-5">
                <div class="contact-form-details">
                  <h2>Get in Touch!</h2>
                  <p>We value your feedback, inquiries, and suggestions.</p>
                  <p>
                    If you have any questions or need assistance, please don't
                    hesitate to reach out to us. Our dedicated customer support
                    team is here to help.
                  </p>

                  <%- include('components/social-buttons', { myclass : ' ' });%>
                </div>
              </div>

              <div class="col col-lg-7">
                <div class="contact-form-inputs">
                  <form action="/contact" method="post">
                    <label for="" class="form-label">Name</label>
                    <input
                      name="userName"
                      type="text"
                      class="form-control"
                      placeholder="John Doe"
                      required
                    />

                    <label for="" class="form-label">Phone</label>
                    <input
                      class="form-control"
                      type="text"
                      name="userPhone"
                      placeholder="+94 123 456 789"
                      maxlength="12"
                      required
                    />

                    <label for="" class="form-label">Email address</label>
                    <input
                      name="userEmail"
                      type="email"
                      class="form-control"
                      placeholder="johndoe@example.com"
                      required
                    />

                    <label for="" class="form-label">Message</label>
                    <textarea
                      name="userMessage"
                      class="form-control"
                      rows="3"
                      placeholder="Hi, I have a question about..."
                      required
                    ></textarea>

                    <input class="form-button" type="submit" value="Submit" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('../views/partials/newsletter-bar'); %> 
    <%- include('../views/partials/footer'); %>
  </body>
</html>
