<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cafésy - Connected. Organic. Alive.</title>

  <%- include('../views/partials/head'); %>
  <link rel="stylesheet" href="css/home.css" />
</head>

<body>
  <%- include('../views/partials/header'); %>

  <main>
    <section id="hero" class="d-flex align-items-center text-white">
      <div class="container text-center text-lg-start text-md-start">
        <div class="section-row row">
          <div class="col col-lg-6 my-auto order-2 order-lg-1">
            <h2 class="slide-up-hidden">Where Every Sip is an</h2>
            <h1 class="slide-up-hidden">Experience!</h1>
            <p class="slide-up-hidden">
              Our coffee cafe offers a wide selection of high-quality,
              ethically sourced coffee beans from around the world.
            </p>
            <a href="/shop">
              <%- include('components/main-button', { btntext: "Order Now" ,btnclass : 'main-button', btnanim: "slide-up-hidden" }); %>
            </a>
          </div>

          <div class="col col-lg-6 my-auto order-1 order-lg-2">
            <div class="text-center d-flex justify-content-center">
              <div class="hero-img-wrapper slide-right-hidden">
                <img class="bean-1" src="/img/Beans-1.webp" alt="Picture of a Coffee Bean - 1" />
                <img class="bean-2" src="/img/Beans-2.webp" alt="Picture of a Coffee Bean -  2" />
                <img class="bean-3" src="/img/Beans-3.webp" alt="Picture of a Coffee Bean - 3" />
                <img class="bean-4" src="/img/Beans-4.webp" alt="Picture of a Coffee Bean - 4" />
                <img class="hero-img" src="/img/cafesy-coffee-cup.webp" alt="Picture of a Cafesy Coffee Cup" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <section id="about">
    <div class="container text-center text-lg-start text-md-start">
      <div class="row section-row align-items-center">
        <div class="col-lg-5">
          <img class="section-image slide-left-hidden" src="img/about-section.webp" alt="A lady making a coffee by pouring water with a kettle on her hand" />
        </div>

        <div class="col-lg-7">
          <h2 class="section-heading slide-up-hidden">Our Story</h2>

          <p class="section-p slide-up-hidden">
            At <span class="brand-text">Cafésy</span>, we're passionate about
            coffee. Our journey began 2018 when our founder, Hansana Prabath,
            set out to create a coffee shop that was more than just a place to
            grab a quick cup of joe.
          </p>
          <br />
          <p class="section-p slide-up-hidden">
            Today, our cafe is a community hub where coffee lovers can gather,
            relax, and enjoy a delicious cup of coffee made with only the
            freshest and highest quality ingredients.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="products">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="container text-center first-row">
          <h2 class="section-heading slide-up-hidden">
            Explore Coffee Selection
          </h2>
          <p class="section-heading-text slide-up-hidden">
            At Cafésy, we offer a wide variety of coffee types from around the
            world.
          </p>
        </div>

        <div class="container">
          <div class="row second-row">
            <div class="col-lg-4">
              <%- include('components/product-card', {title: 'Espresso', description: 'Intensely strong and concentrated coffee.', price: '5.55', img: 'coffeecup', link: 'https://stripe.com', custom_class: 'slide-up-hidden'}); %>
            </div>

            <div class="col-lg-4">
              <%- include('components/product-card', {title: 'Latte', description: 'Creamy espresso with steamed milk.', price: '5.75', img: 'coffeecup', link: 'https://stripe.com', custom_class: 'slide-up-hidden'}); %>

            </div>

            <div class="col-lg-4">

              <%- include('components/product-card', {title: 'Americano', description: 'Bold, robust espresso diluted with hot water.', price: '4.35', img: 'coffeecup', link: 'https://stripe.com', custom_class: 'slide-up-hidden'}); %>

            </div>
          </div>
        </div>

        <div class="container align-items-center">
          <div class="d-flex justify-content-center">
            <a href="/shop">
              <%- include('components/main-button', { btntext: "Visit Shop" ,btnclass : 'main-button', btnanim: "slide-up-hidden" }); %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="feedback" class="d-flex align-items-center justify-content-center justify-content-lg-start">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="col">
          <div class="text-center">
            <h2 class="section-heading slide-up-hidden">
              People Love Cafésy!
            </h2>
            <p class="section-heading-text slide-up-hidden">
              We pride ourselves with our high quality
              coffee and exceptional customer service.
            </p>
          </div>

          <div id="feedback-slider" class="carousel carousel-fade slide-up-hidden mx-auto" data-bs-ride="carousel" data-bs-interval="2500">
            <div class="carousel-inner">

              <div class="carousel-item active">

                <%- include('components/feedback-slide', { name: "Maria K.", title: "Satisfied Customer", rating: "2", user: "3" , review: "“ This is my go-to coffee spot. The baristas are alwaysfriendly and remember my order, and the coffee is consistently delicious. ”"}); %>
              
              </div>

              <div class="carousel-item">

                <%- include('components/feedback-slide', { name: "Ryan T.", rating: "1", user: "2" ,title: "First-Time Customer", review: "“ The coffee here is so fresh and flavorful. You can tell they really care about the quality of their beans and their brewing process. ”" }); %>

              </div>

              <div class="carousel-item">

                <%- include('components/feedback-slide', { name: "Jake S.", rating: "1", user: "1" ,title: "Coffee Expert", review: "“ I love the cozy, relaxed atmosphere at Cafésy and It's the perfect spot to catch up with friends while enjoying a great cup of coffee. ”" }); %>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="blog">
    <div class="container">
      <div class="row section-row align-items-center">
        <div class="container text-center first-row">
          <h2 class="section-heading slide-up-hidden">Sip & Share</h2>
          <p class="section-heading-text slide-up-hidden">
            Insights and Inspiration for Coffee Aficionados
          </p>
        </div>

        <div class="container">
          <div class="row second-row align-items-center">

            <div class="col-lg-4">
              
              <%- include('components/blog-card', { post_img: "post-1", post_title: "5 Surprising Health Benefits of Drinking Coffee", post_author: "Marie" ,post_date: "May 06", alt: "Picture of a girl who drinking a hot coffee while working on her laptop."}); %>

            </div>

            <div class="col-lg-4">

              <%- include('components/blog-card', { post_img: "post-2", post_title: "The Art of Latte Art: How Our Baristas Create Perfect Coffees", post_author: "Charles" ,post_date: "May 05",alt: "Picture of a coffee with a latte art on it." }); %>

            </div>

            <div class="col-lg-4">

              <%- include('components/blog-card', { post_img: "post-3", post_title: "How to Brew the Perfect Cup of Coffee at Home", post_author: "Joseph" ,post_date: "May 05",alt: "Picture of a lots of coffee beans spread all over on the canvas." }); %>

            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
        <a href="https://medium.com/">
          <%- include('components/main-button', { btntext: "Read More" ,btnclass : 'main-button', btnanim: "slide-up-hidden" }); %>
        </a>
      </div>
      </div>
  </div>
  </section>

  <section id="contact">
    <div class="container text-center text-lg-start text-md-start">
      <div class="row section-row align-items-center">
        <div class="col-lg-5">
          <img class="section-image slide-left-hidden" src="img/contact-section.webp" alt="Someone pouring coffee into a cup on a wooden table" />
        </div>

        <div class="col-lg-7">
          <h2 class="section-heading slide-up-hidden">Get in Touch</h2>

          <%- include('components/social-buttons', { myclass :'justify-content-center justify-content-md-start justify-content-lg-start slide-up-hidden' }); %>

          <p class="section-p slide-up-hidden">
            We love hearing from our customers! Whether you have a question,
            comment, or just want to say hello, we're here to help. You can
            reach us by phone, email, or by filling out the contact form
            <a class="link" href="/contact">here</a>. Our team will get back to you as soon
            as possible.
          </p>
        </div>
      </div>
    </div>
  </section>

  <%- include('../views/partials/newsletter-bar'); %>
  <%- include('../views/partials/footer'); %>
</body>

</html>