<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu | Cafésy - Connected. Organic. Alive.</title>

  <%- include('../views/partials/head'); %>
  <link rel="stylesheet" href="css/menu.css" />
</head>

<body>
  <%- include('../views/partials/preloader'); %>
  <%- include('../views/partials/header'); %>

  <main>

    <section id="banner">
      <div class="container">
        <div class="shop-banner">
          <div class="row h-100 align-items-center text-center text-lg-start">
            <div class="col-lg-8 order-lg-1 order-2">
              <h1>New-Year Coffee Festival</h1>
              <p>Get up to a 50% Discount using <b>“Cafesy50”</b> coupon code.</p>

              <a href="#products">
                <%- include('components/main-button', { btntext: "Explore" ,btnclass : 'main-button-dark', btnanim: " " }); %>
              </a>
            </div>

            <div class="col-lg-4 order-lg-2 order-1 text-center text-lg-end">
              <img class="shop-banner-img" src="img/shop-banner-img.webp" alt="3 Coffee cups placed in different angles" />
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="products">
      <div class="container pt-4 pb-5">

        <div class="row">
          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Espresso', description: 'Intensely strong and concentrated coffee.', price: '5.55', img: 'coffeecup', link: 'https://buy.stripe.com/test_3cs8wW1ANdvR2T6145', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Latte', description: 'a creamy coffee made with espresso and milk.', price: '5.75', img: 'coffeecup', link: 'https://buy.stripe.com/test_cN228ydjv0J53XacMO', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Americano', description: 'Bold and robust espresso diluted with hot water.', price: '4.35', img: 'coffeecup', link: 'https://buy.stripe.com/test_4gw5kKgvH63pbpCdQT', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Mocha', description: 'Espresso, steamed milk, and chocolate combined.', price: '7', img: 'coffeecup', link: 'https://buy.stripe.com/test_7sIcNc2ER9fB65i5ko', custom_class: ''}); %>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Macchiato', description: 'Espresso with a touch of foamed milk.', price: '6.10', img: 'coffeecup', link: 'https://buy.stripe.com/test_bIYdRga7j8bx51e3ch', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Flat White', description: 'Smooth espresso with velvety steamed milk.', price: '4.30', img: 'coffeecup', link: 'https://buy.stripe.com/test_5kA7sS7ZbdvRaly14a', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Frappuccino', description: 'Blended iced coffee with milk and flavors.', price: '5.60', img: 'coffeecup', link: 'https://buy.stripe.com/test_4gwfZocfr0J551ebIP', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Affogato', description: 'Espresso poured over gelato or ice cream.', price: '6.50', img: 'coffeecup', link: 'https://buy.stripe.com/test_cN2aF4bbnbnJ51ecMU', custom_class: ''}); %>
          </div>

        </div>

      </div>
      </div>

      <section id="special-products">
        <div class="container text-center">

          <h2 class="sp-heading">Wanna Try Something New?</h2>
          <p class="sp-p">Discover the Bold and Unique Flavors of Cafesy Coffee!</p>

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="sp-card-wrapper-1 slide-up-hidden">
                <%- include('components/product-card', {title: 'Velvet Sunrise', description: 'A bold fusion of dark chocolate and orange zest in this exquisite blend.', price: '9.60', img: 'special-product-1', link: 'https://buy.stripe.com/test_6oE8wWa7j3VhctG6ox', custom_class: ''}); %>
              </div>
            </div>

            <div class="col-md-4 col-lg-4">
              <div class="sp-card-wrapper-2 slide-up-hidden">
                <%- include('components/product-card', {title: 'Spiced Euphoria', description: 'A captivating combination of cinnamon, nutmeg, and cloves, delivering a tantalizing warmth to every sip.', price: '10', img: 'special-product-2', link: 'https://buy.stripe.com/test_cN23cC5R3fDZ65i3cm', custom_class: ''}); %>
              </div>
            </div>
            <div class="col-md-4 col-lg-4">
              <div class="sp-card-wrapper-3 slide-up-hidden">
                <%- include('components/product-card', {title: 'Midnight Jazz', description: 'A rich and smooth coffee infused with notes of smoky caramel and vanilla.', price: '12', img: 'special-product-3', link: 'https://buy.stripe.com/test_7sIfZo1AN0J59hudR1', custom_class: ''}); %>
              </div>
            </div>
          </div>
        </div>

      </section>

      <div class="container">
        <div class="row py-5">
          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Irish Coffee', description: 'Combination of hot coffee, Irish whiskey, sugar, and a dollop of whipped cream.', price: '12.50', img: 'coffeecup', link: 'https://buy.stripe.com/test_9AQ9B06V7bnJbpC00c', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Turkish Coffee', description: 'A traditional method of brewing finely ground coffee, served strong and unfiltered.', price: '4', img: 'coffeecup', link: 'https://buy.stripe.com/test_cN26oO6V70J53XaaER', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Pour-Over', description: 'A meticulous brewing technique where hot water is poured over freshly ground coffee.', price: '5', img: 'coffeecup', link: 'https://buy.stripe.com/test_9AQ8wW2ERajFdxK7sG', custom_class: ''}); %>
          </div>

          <div class="col-md-6 col-lg-3">
            <%- include('components/product-card', {title: 'Decaf', description: 'A caffeine-free option for those who want the taste and aroma of coffee.', price: '5', img: 'coffeecup', link: 'https://buy.stripe.com/test_fZe00q93f9fB0KYcN1', custom_class: ''}); %>
          </div>

        </div>
      </div>
    </section>




  </main>

  <%-include('../views/partials/newsletter-bar'); %>
  <%-include('../views/partials/footer'); %>
</body>

</html>