<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %> | Cafésy</title>

    <%- include('../views/partials/head'); %>
    <link rel="stylesheet" href="css/newsletter.css" />    
  </head>

  <body>
    <%- include('../views/partials/preloader'); %>
    <section class="newsletter-box">
      <div
        class="container text-center d-flex justify-content-center align-items-center"
      >
        <div class="newsletter-box-wrapper">
          <i class="fa-regular fa-envelope newsletter-box-icon"></i>

          <h1><%= heading %></h1>
          <p><%- text %></p>

          <form action="<%= form_action %>" method="post">

            <input
              type="email"
              class="form-email"
              name="email"
              placeholder="Email Address"
              required
            />

            <button type="submit" class="newsletter-box-btn newsletter-box-btn">
              <%= btntext %>
            </button>

          </form>

          
          <button class="back-button" onclick="window.history.back();">Back to Cafésy</button>
        </div>
      </div>
    </section>
  </body>
</html>
